.portada {
    background-image: url('https://sm.ign.com/ign_es/screenshot/default/c57bc304-b997-43db-8cec-8882fb0b995f_7481.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;

}